<!doctype html>
<html lang="en">

<head>
    <title>Phishing URL Detector</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='revolution/css/settings.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='revolution/css/revolution.addon.particles.css') }}" rel="stylesheet"
        type="text/css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/style-customizer.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

    <header class="dark-transparent">

        <nav id="menu-1" class="mega-menu menuFullWidth">

            <section class="menu-list-items">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">

                            <ul class="menu-logo">
                                <li>
                                    <a href="#">
                                        <img id="logo_img" src="{{ url_for('static', filename='images/loader.png') }}"
                                            alt="logo">
                                        <h1
                                            style="color: white; font-size: 35px; width: 480px;margin-left: 60px;margin-top: 5px;">
                                            Phishing URL Detector</h1>
                                    </a>
                                </li>
                            </ul>
                            <ul class="menu-sidebar pull-right">
                                <li class="iq-share">
                                    <div class="slideouticons">
                                        <input type="checkbox" id="togglebox">
                                        <label for="togglebox" class="mainlabel"><i class="fa fa-share-alt"></i></label>
                                        <div class="iconswrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook" title="Facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-google-plus"
                                                            title="Google Plus"></i></a></li>
                                                <li><a href="#"><i class="fa fa-pinterest-p" title="Pinterest"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <ul class="menu-links">
                                <li><a href="/">Home</a>
                                </li>
                                <li class="active"><a href="javascript:void(0)">About Us</a>
                                </li>
                                <li><a href="javascript:void(0)">Donate Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </nav>
    </header>
    <section class="overview-block-ptb iq-over-black-70 jarallax iq-breadcrumb3 text-left iq-font-white"
        style="background-image: url('images/bg/03.jpg'); background-position: center center; background-repeat: no-repeat; background-size: cover;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-12">
                    <div class="iq-mb-0">
                        <h2 class="iq-font-white iq-tw-6">About Us</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <nav aria-label="breadcrumb" class="text-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="home-1.html"><i class="ion-android-home"></i> Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">About Us 1</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <div class="main-content">

        <section class="overview-block-ptb iq-feature7 green-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <img alt="" class="img-fluid" src="images/about-us/half-img.png">
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <h3 class="iq-tw-6 small-title white iq-font-black iq-font-dark iq-mtb-15">What We Do</h3>
                        <div class="iq-font-white">
                            <p>Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer
                                took a galley of type and scrambled it to make a type specimen book. It has survived not
                                only five centuries.</p>
                            <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and scrambled it to make a type specimen book. It has survived not only
                                five centuries, but also the leap into electronic typesetting, remaining essentially
                                unchanged.</p>
                        </div>
                        <a class="button grey iq-mt-15" href="#" role="button">Read More</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="overview-block-ptb iq-team4">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title text-center">
                            <h2 class="title iq-tw-6">Our Lovely Team</h2>
                            <p>Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer
                                took a galley of type and scrambled it to make a type specimen book. It has survived not
                                only five centuries.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-12 iq-mtb-20">
                        <div class="team-blog iq-pall-20 text-center">
                            <img alt="" class="img-fluid text-center" src="images/team/round-img1.png">
                            <div class="testimonial-name iq-font-dark iq-mt-20">
                                <h6 class="iq-font-black iq-tw-6"> <a href="team-details-1.html"> Rinks Cooper</a></h6>
                                <span>CEO, Qwilo</span>
                                <div class="iq-star iq-font-green iq-mb-10"><i class="fa fa-star"
                                        aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                        class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                        aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i>
                                </div>
                            </div>
                            <p>Simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of
                                type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 iq-mtb-20">
                        <div class="team-blog iq-pall-20 text-center">
                            <img alt="" class="img-fluid text-center" src="images/team/round-img2.png">
                            <div class="testimonial-name iq-font-dark iq-mt-20">
                                <h6 class="iq-font-black iq-tw-6"> <a href="team-details-1.html">JD Scot</a></h6>
                                <span>CEO, Qwilo</span>
                                <div class="iq-star iq-font-green iq-mb-10"><i class="fa fa-star"
                                        aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                        class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                        aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i>
                                </div>
                            </div>
                            <p>Simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of
                                type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>
        </section>

    </div>


    <footer class="iq-footer2 iq-over-black-80 iq-bg jarallax"
        style="background-image: url('images/bg/22.jpg'); background-position: left center;">
        <div class="footer-bottom iq-ptb-20">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="iq-copyright iq-mt-10 iq-font-white">
                            Copyright
                            <span id="copyright">
                                <script data-cfasync="false"
                                    src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                                <script>
                                    document.getElementById('copyright').appendChild(document.createTextNode(new Date()
                                        .getFullYear()))
                                </script>
                            </span>
                            <a href="#">Qwilo</a> All Rights Reserved
                        </div>
                    </div>
                    <div class="col-sm-6 iq-re-4-mt30">
                        <ul class="iq-media-blog">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <div id="back-to-top">
        <a class="top" id="top" href="#top"> <i class="ion-ios-upload-outline"></i> </a>
    </div>

    <script src="js/jquery.min.js"></script>

    <script src="js/popper.min.js"></script>

    <script src="js/bootstrap.min.js"></script>

    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script src="js/mega-menu/mega_menu.js"></script>

    <script src="js/main.js"></script>

    <script src="js/price_range_script.js"></script>

    <script src="js/modernizr.custom.js"></script>

    <script src="js/jquerypp.custom.js"></script>

    <script src="js/jquery.bookblock.js"></script>

    <script src="js/style-customizer.js"></script>

    <script src="js/custom.js"></script>
</body>

</html>